<div class="logo"></div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
            <i nz-icon nzType="home"></i>
            <span>Portal</span>
        </a>
    </li>
    <li nz-submenu nzTitle="Employee Manage" nzIcon="team">
        <ul>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/employee-manage/overview">Overview</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/employee-manage/employees">Employee List</a>
            </li>
            <li nz-menu-item nzDisabled>
                <span>Departments</span>
            </li>
        </ul>
    </li>
</ul>