.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    overflow-y: auto;
    transition: all 0.3s;
}

.nav-link {
    transition: all 0.2s;

    &:hover:not(.active):not(.disabled) {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff !important;
    }
}