.sidebar-wrapper {
    transition: width 0.3s ease;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;

    &.collapsed {
        width: 0;
        overflow: hidden;
    }
}

main {
    transition: all 0.3s ease;
}

header {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    z-index: 1000;
    position: relative;
}

footer {
    font-size: 0.875rem;
}