@use 'ngx-toastr/toastr';
@import 'ng-zorro-antd/ng-zorro-antd.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f0f2f5;
  height: 100%;
}

html {
  height: 100%;
}