<div class="d-flex justify-content-between align-items-center h-100 px-3">

    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleCollapse.emit()"></i>

    <div class="d-flex align-items-center">
        <div nz-dropdown [nzDropdownMenu]="menu" class="d-flex align-items-center cursor-pointer gap-2">
            <div class="avatar bg-primary text-white rounded-circle d-flex align-items-center justify-content-center">
                {{ user()?.fullName?.charAt(0) || 'U' }}
            </div>
            <span class="d-none d-md-block">{{ user()?.fullName || 'User' }}</span>
            <i nz-icon nzType="down"></i>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item nzDanger (click)="logout()">Logout</li>
            </ul>
        </nz-dropdown-menu>
    </div>
</div>